.idea/
*.pyc
/analytics
/model/checkpoints/
smoke_tests/
_to_refactor
/docs
.DS_Store
build/
dist/
*.egg-info
sandbox/
saved/
artifacts/bart/bart.base.pt
artifacts/checkpoints/
artifacts/output/p_sel
artifacts/output/q_sel
artifacts/output/q_summs
artifacts/output_old
artifacts/output/*.zip
checkpoints
output/